In [1]:
import os
os.getcwd()

'c:\\Users\\mercy\\nhs-gp-performance-analysis\\notebook'

In [2]:
import os

os.listdir("../data/raw")

['GP_Appointment_December_2025.xlsx', 'GP_Appointment_July_2023.xlsx']

In [ ]:
import pandas as pd

# Load the Excel file
file_path = "../data/raw/GP_Appointment_December_2025.xlsx"

df = pd.read_excel(file_path, sheet_name='Table 1a')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Check the sheet names in the Excel file
xls = pd.ExcelFile(file_path)
xls.sheet_names

['Title sheet',
 'Official Statistics in Developm',
 'PCN Information',
 'Data Quality',
 'Table 1a',
 'Table 1b',
 'Table 1c',
 'Table 2a',
 'Table 2b',
 'Table 2c',
 'Table 2d',
 'Table 3a',
 'Table 3b',
 'Table 3c',
 'Table 3d',
 'Table 3e',
 'Table 3f',
 'Table 3g',
 'Table 3h',
 'Table 4',
 'Table 5',
 'Table 6']

In [ ]:
# first two columns are label columns in this table
os.listdir("../data/raw")

['GP_Appointment_December_2025.xlsx', 'GP_Appointment_July_2023.xlsx']

In [ ]:
from pathlib import Path

# Load the Excel file using pathlib for better path handling
BASE_DIR = Path().resolve().parent
file_path = BASE_DIR / "data" / "raw" / "GP_Appointment_December_2025.xlsx"

df = pd.read_excel(file_path)

In [17]:
for s in xls.sheet_names:
    print(f"[{s}]")

[Title sheet]
[Official Statistics in Developm]
[PCN Information]
[Data Quality]
[Table 1a]
[Table 1b]
[Table 1c]
[Table 2a]
[Table 2b]
[Table 2c]
[Table 2d]
[Table 3a]
[Table 3b]
[Table 3c]
[Table 3d]
[Table 3e]
[Table 3f]
[Table 3g]
[Table 3h]
[Table 4]
[Table 5]
[Table 6]

In [18]:
import pandas as pd

file_path = "../data/raw/GP_Appointment_December_2025.xlsx"

df = pd.read_excel(file_path, sheet_name="Table 1a")

df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
file_path = "../data/raw/GP_Appointment_December_2025.xlsx"
sheet = "Table 1a"

# read a small preview without headers
preview = pd.read_excel(file_path, sheet_name=sheet, header=None, nrows=30)
preview.head(15)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Return to Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Table 1a: Summary of appointments recorded in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,2025-12-01 00:00:00,2025-11-01 00:00:00,2025-10-01 00:00:00,2025-09-01 00:00:00,2025-08-01 00:00:00,2025-07-01 00:00:00,2025-06-01 00:00:00,2025-05-01 00:00:00,...,2024-04-01 00:00:00,2024-03-01 00:00:00,2024-02-01 00:00:00,2024-01-01 00:00:00,2023-12-01 00:00:00,2023-11-01 00:00:00,2023-10-01 00:00:00,2023-09-01 00:00:00,2023-08-01 00:00:00,2023-07-01 00:00:00
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Coverage,Open active practices,6210,6214,6219,6221,6222,6229,6233,6237,...,6336,6336,6338,6345,6347,6355,6366,6370,6381,6396
13,NaN,Count of practices included,6145,6144,6148,6153,6155,6156,6165,6169,...,6247,6263,6267,6272,6270,6278,6287,6298,6301,6316
14,NaN,Practice coverage,0.989533,0.988735,0.988583,0.989069,0.989232,0.988281,0.98909,0.989097,...,0.985953,0.988479,0.988798,0.988495,0.987868,0.987884,0.98759,0.988697,0.987463,0.987492

In [20]:
# Find the row index that contains a month label like "Dec-25"
header_row = None
for i in range(len(preview)):
    row_as_text = preview.iloc[i].astype(str).tolist()
    if any("Dec-25" in x for x in row_as_text):  # you can change to "Nov-25" etc.
        header_row = i
        break

header_row

In [23]:
df = pd.read_excel(
    file_path,
    sheet_name=sheet,
    header=header_row
)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
import pandas as pd

file_path = "../data/raw/GP_Appointment_December_2025.xlsx"
sheet = "Table 1a"

df = pd.read_excel(file_path, sheet_name=sheet, header=10)
df.head()

,Unnamed: 0,Unnamed: 1,2025-12-01 00:00:00,2025-11-01 00:00:00,2025-10-01 00:00:00,2025-09-01 00:00:00,2025-08-01 00:00:00,2025-07-01 00:00:00,2025-06-01 00:00:00,2025-05-01 00:00:00,...,2024-04-01 00:00:00,2024-03-01 00:00:00,2024-02-01 00:00:00,2024-01-01 00:00:00,2023-12-01 00:00:00,2023-11-01 00:00:00,2023-10-01 00:00:00,2023-09-01 00:00:00,2023-08-01 00:00:00,2023-07-01 00:00:00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Coverage,Open active practices,6.210000e+03,6.214000e+03,6.219000e+03,6.221000e+03,6.222000e+03,6.229000e+03,6.233000e+03,6.237000e+03,...,6.336000e+03,6.336000e+03,6.338000e+03,6.345000e+03,6.347000e+03,6.355000e+03,6.366000e+03,6.370000e+03,6.381000e+03,6.396000e+03
2,NaN,Count of practices included,6.145000e+03,6.144000e+03,6.148000e+03,6.153000e+03,6.155000e+03,6.156000e+03,6.165000e+03,6.169000e+03,...,6.247000e+03,6.263000e+03,6.267000e+03,6.272000e+03,6.270000e+03,6.278000e+03,6.287000e+03,6.298000e+03,6.301000e+03,6.316000e+03
3,NaN,Practice coverage,9.895330e-01,9.887351e-01,9.885834e-01,9.890693e-01,9.892318e-01,9.882806e-01,9.890903e-01,9.890973e-01,...,9.859533e-01,9.884785e-01,9.887977e-01,9.884949e-01,9.878683e-01,9.878836e-01,9.875903e-01,9.886970e-01,9.874628e-01,9.874922e-01
4,NaN,Registered patients at open active practices,6.393991e+07,6.395018e+07,6.392264e+07,6.383439e+07,6.382489e+07,6.380652e+07,6.379382e+07,6.376914e+07,...,6.322396e+07,6.320695e+07,6.317202e+07,6.309876e+07,6.304581e+07,6.294522e+07,6.279787e+07,6.269078e+07,6.263785e+07,6.255382e+07

In [27]:
from datetime import datetime

new_cols = []
for c in df.columns:
    # If column name is a datetime/Timestamp, format it
    if isinstance(c, (datetime, pd.Timestamp)):
        new_cols.append(pd.to_datetime(c).strftime("%b-%y"))  # Dec-25
    else:
        new_cols.append(c)

df.columns = new_cols
df.head()

,Unnamed: 0,Unnamed: 1,Dec-25,Nov-25,Oct-25,Sep-25,Aug-25,Jul-25,Jun-25,May-25,...,Apr-24,Mar-24,Feb-24,Jan-24,Dec-23,Nov-23,Oct-23,Sep-23,Aug-23,Jul-23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Coverage,Open active practices,6.210000e+03,6.214000e+03,6.219000e+03,6.221000e+03,6.222000e+03,6.229000e+03,6.233000e+03,6.237000e+03,...,6.336000e+03,6.336000e+03,6.338000e+03,6.345000e+03,6.347000e+03,6.355000e+03,6.366000e+03,6.370000e+03,6.381000e+03,6.396000e+03
2,NaN,Count of practices included,6.145000e+03,6.144000e+03,6.148000e+03,6.153000e+03,6.155000e+03,6.156000e+03,6.165000e+03,6.169000e+03,...,6.247000e+03,6.263000e+03,6.267000e+03,6.272000e+03,6.270000e+03,6.278000e+03,6.287000e+03,6.298000e+03,6.301000e+03,6.316000e+03
3,NaN,Practice coverage,9.895330e-01,9.887351e-01,9.885834e-01,9.890693e-01,9.892318e-01,9.882806e-01,9.890903e-01,9.890973e-01,...,9.859533e-01,9.884785e-01,9.887977e-01,9.884949e-01,9.878683e-01,9.878836e-01,9.875903e-01,9.886970e-01,9.874628e-01,9.874922e-01
4,NaN,Registered patients at open active practices,6.393991e+07,6.395018e+07,6.392264e+07,6.383439e+07,6.382489e+07,6.380652e+07,6.379382e+07,6.376914e+07,...,6.322396e+07,6.320695e+07,6.317202e+07,6.309876e+07,6.304581e+07,6.294522e+07,6.279787e+07,6.269078e+07,6.263785e+07,6.255382e+07

In [ ]:
# first two columns are label columns in this table
section_col = df.columns[0]
item_col = df.columns[1]

df = df.dropna(how="all")
df[section_col] = df[section_col].ffill()
df = df[df[item_col].notna()]  # drop separator rows

df.head()

,Unnamed: 0,Unnamed: 1,Dec-25,Nov-25,Oct-25,Sep-25,Aug-25,Jul-25,Jun-25,May-25,...,Apr-24,Mar-24,Feb-24,Jan-24,Dec-23,Nov-23,Oct-23,Sep-23,Aug-23,Jul-23
1,Coverage,Open active practices,6.210000e+03,6.214000e+03,6.219000e+03,6.221000e+03,6.222000e+03,6.229000e+03,6.233000e+03,6.237000e+03,...,6.336000e+03,6.336000e+03,6.338000e+03,6.345000e+03,6.347000e+03,6.355000e+03,6.366000e+03,6.370000e+03,6.381000e+03,6.396000e+03
2,Coverage,Count of practices included,6.145000e+03,6.144000e+03,6.148000e+03,6.153000e+03,6.155000e+03,6.156000e+03,6.165000e+03,6.169000e+03,...,6.247000e+03,6.263000e+03,6.267000e+03,6.272000e+03,6.270000e+03,6.278000e+03,6.287000e+03,6.298000e+03,6.301000e+03,6.316000e+03
3,Coverage,Practice coverage,9.895330e-01,9.887351e-01,9.885834e-01,9.890693e-01,9.892318e-01,9.882806e-01,9.890903e-01,9.890973e-01,...,9.859533e-01,9.884785e-01,9.887977e-01,9.884949e-01,9.878683e-01,9.878836e-01,9.875903e-01,9.886970e-01,9.874628e-01,9.874922e-01
4,Coverage,Registered patients at open active practices,6.393991e+07,6.395018e+07,6.392264e+07,6.383439e+07,6.382489e+07,6.380652e+07,6.379382e+07,6.376914e+07,...,6.322396e+07,6.320695e+07,6.317202e+07,6.309876e+07,6.304581e+07,6.294522e+07,6.279787e+07,6.269078e+07,6.263785e+07,6.255382e+07
5,Coverage,Registered patients at included practices,6.386169e+07,6.382981e+07,6.379529e+07,6.371991e+07,6.374795e+07,6.370718e+07,6.374928e+07,6.371258e+07,...,6.304772e+07,6.307117e+07,6.304273e+07,6.296910e+07,6.288462e+07,6.281195e+07,6.265525e+07,6.260832e+07,6.252767e+07,6.241496e+07

In [30]:
month_cols = df.columns[2:]  # all the month columns

long_df = df.melt(
    id_vars=[section_col, item_col],
    value_vars=month_cols,
    var_name="Month",
    value_name="Value"
)

long_df.head(10)

,Unnamed: 0,Unnamed: 1,Month,Value
0,Coverage,Open active practices,Dec-25,6.210000e+03
1,Coverage,Count of practices included,Dec-25,6.145000e+03
2,Coverage,Practice coverage,Dec-25,9.895330e-01
3,Coverage,Registered patients at open active practices,Dec-25,6.393991e+07
4,Coverage,Registered patients at included practices,Dec-25,6.386169e+07
5,Coverage,Patient coverage,Dec-25,9.987767e-01
6,Working Days,Number of working weekdays,Dec-25,2.100000e+01
7,Appointment Count,Total count of appointments1,Dec-25,3.086510e+07
8,Appointment Count,_,Dec-25,NaN
9,Appointment Count,Covid Vaccination appointments removed from GP...,Dec-25,1.506200e+04

In [44]:
# rename columns for clarity
long_df = long_df.rename(columns={
    "Unnamed: 0": "Section",
    "Unnamed: 1": "Metric"
})

long_df["Month_Date"] = pd.to_datetime(long_df["Month"], format="%b-%y")

long_df.head()

,Section,Metric,Month,Value,Month_Date
0,Coverage,Open active practices,Dec-25,6.210000e+03,2025-12-01
1,Coverage,Count of practices included,Dec-25,6.145000e+03,2025-12-01
2,Coverage,Practice coverage,Dec-25,9.895330e-01,2025-12-01
3,Coverage,Registered patients at open active practices,Dec-25,6.393991e+07,2025-12-01
4,Coverage,Registered patients at included practices,Dec-25,6.386169e+07,2025-12-01

In [43]:
# convert Value to numeric, coercing errors to NaN
long_df = long_df.drop(columns=["Value"])
long_df = long_df.rename(columns={"Value_num": "Value"})

long_df.head()

,Section,Metric,Month,Value,Month_Date
0,Coverage,Open active practices,Dec-25,6.210000e+03,2025-12-01
1,Coverage,Count of practices included,Dec-25,6.145000e+03,2025-12-01
2,Coverage,Practice coverage,Dec-25,9.895330e-01,2025-12-01
3,Coverage,Registered patients at open active practices,Dec-25,6.393991e+07,2025-12-01
4,Coverage,Registered patients at included practices,Dec-25,6.386169e+07,2025-12-01

In [41]:
long_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3630 entries, 0 to 3629
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Section     3630 non-null   object
 1   Metric      3630 non-null   object
 2   Month       3630 non-null   object
 3   Value       3270 non-null   float64
 4   Value_num   3270 non-null   float64
 5   Month_Date  3630 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 170.3+ KB

In [48]:
# Load the Excel file
file_path = "../data/raw/GP_Appointment_July_2023.xlsx"

df = pd.read_excel(file_path, sheet_name='Table 1a')
df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Return to Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Table 1a: Summary of appointments by month, En...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,"Jul-23, 7, 8","Jun-23, 7, 8","May-23, 7, 8","Apr-23, 7, 8","Mar-23, 7, 8","Feb-23, 7, 8","Jan-23, 7, 8","Dec-22, 7, 8",...,"Nov-21, 7, 8","Oct-21, 7, 8","Sep-21, 7, 8","Aug-21, 7, 8","Jul-217, 8","Jun-217, 8","May-217, 8","Apr-217, 8","Mar-217, 8","Feb-217, 8"
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Coverage,Open active practices,6396,6403,6425,6440,6442,6446,6454,6455,...,6565,6576,6578,6583,6608,6609,6617,6632,6633,6643
12,NaN,Count of practices included,6315,6329,6337,6362,6373,6381,6386,6388,...,6476,6480,6489,6490,6495,6515,6521,6533,6546,6543
13,NaN,Practice coverage,0.987336,0.988443,0.986304,0.987888,0.989289,0.989916,0.989464,0.98962,...,0.986443,0.985401,0.98647,0.985873,0.9829,0.985777,0.985492,0.985072,0.986884,0.984947
14,NaN,Registered patients at open active practices,62553815,62482066,62413605,62409226,62359675,62300161,62230058,62175367,...,61296468,61190983,61077857,61025087,60963439,60849692,60795907,60734640,60637877,60607094