In [1]:
import os
os.getcwd()

'c:\\Users\\mercy\\nhs-gp-performance-analysis\\notebook'

In [2]:
import os

os.listdir("../data/raw")

['GP_Appointment_December_2025.xlsx', 'GP_Appointment_July_2023.xlsx']

In [ ]:
import pandas as pd

# Load the Excel file
file_path = "../data/raw/GP_Appointment_December_2025.xlsx"

df = pd.read_excel(file_path, sheet_name='Table 1a')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Check the sheet names in the Excel file
xls = pd.ExcelFile(file_path)
xls.sheet_names

['Title sheet',
 'Official Statistics in Developm',
 'PCN Information',
 'Data Quality',
 'Table 1a',
 'Table 1b',
 'Table 1c',
 'Table 2a',
 'Table 2b',
 'Table 2c',
 'Table 2d',
 'Table 3a',
 'Table 3b',
 'Table 3c',
 'Table 3d',
 'Table 3e',
 'Table 3f',
 'Table 3g',
 'Table 3h',
 'Table 4',
 'Table 5',
 'Table 6']

In [ ]:
# first two columns are label columns in this table
os.listdir("../data/raw")

['GP_Appointment_December_2025.xlsx', 'GP_Appointment_July_2023.xlsx']

In [ ]:
from pathlib import Path

# Load the Excel file using pathlib for better path handling
BASE_DIR = Path().resolve().parent
file_path = BASE_DIR / "data" / "raw" / "GP_Appointment_December_2025.xlsx"

df = pd.read_excel(file_path)

In [17]:
for s in xls.sheet_names:
    print(f"[{s}]")

[Title sheet]
[Official Statistics in Developm]
[PCN Information]
[Data Quality]
[Table 1a]
[Table 1b]
[Table 1c]
[Table 2a]
[Table 2b]
[Table 2c]
[Table 2d]
[Table 3a]
[Table 3b]
[Table 3c]
[Table 3d]
[Table 3e]
[Table 3f]
[Table 3g]
[Table 3h]
[Table 4]
[Table 5]
[Table 6]

In [18]:
import pandas as pd

file_path = "../data/raw/GP_Appointment_December_2025.xlsx"

df = pd.read_excel(file_path, sheet_name="Table 1a")

df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
file_path = "../data/raw/GP_Appointment_December_2025.xlsx"
sheet = "Table 1a"

# read a small preview without headers
preview = pd.read_excel(file_path, sheet_name=sheet, header=None, nrows=30)
preview.head(15)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Return to Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Table 1a: Summary of appointments recorded in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,2025-12-01 00:00:00,2025-11-01 00:00:00,2025-10-01 00:00:00,2025-09-01 00:00:00,2025-08-01 00:00:00,2025-07-01 00:00:00,2025-06-01 00:00:00,2025-05-01 00:00:00,...,2024-04-01 00:00:00,2024-03-01 00:00:00,2024-02-01 00:00:00,2024-01-01 00:00:00,2023-12-01 00:00:00,2023-11-01 00:00:00,2023-10-01 00:00:00,2023-09-01 00:00:00,2023-08-01 00:00:00,2023-07-01 00:00:00
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Coverage,Open active practices,6210,6214,6219,6221,6222,6229,6233,6237,...,6336,6336,6338,6345,6347,6355,6366,6370,6381,6396
13,NaN,Count of practices included,6145,6144,6148,6153,6155,6156,6165,6169,...,6247,6263,6267,6272,6270,6278,6287,6298,6301,6316
14,NaN,Practice coverage,0.989533,0.988735,0.988583,0.989069,0.989232,0.988281,0.98909,0.989097,...,0.985953,0.988479,0.988798,0.988495,0.987868,0.987884,0.98759,0.988697,0.987463,0.987492

In [26]:
import pandas as pd

file_path = "../data/raw/GP_Appointment_December_2025.xlsx"
sheet = "Table 1a"

df = pd.read_excel(file_path, sheet_name=sheet, header=10)
df.head()

,Unnamed: 0,Unnamed: 1,2025-12-01 00:00:00,2025-11-01 00:00:00,2025-10-01 00:00:00,2025-09-01 00:00:00,2025-08-01 00:00:00,2025-07-01 00:00:00,2025-06-01 00:00:00,2025-05-01 00:00:00,...,2024-04-01 00:00:00,2024-03-01 00:00:00,2024-02-01 00:00:00,2024-01-01 00:00:00,2023-12-01 00:00:00,2023-11-01 00:00:00,2023-10-01 00:00:00,2023-09-01 00:00:00,2023-08-01 00:00:00,2023-07-01 00:00:00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Coverage,Open active practices,6.210000e+03,6.214000e+03,6.219000e+03,6.221000e+03,6.222000e+03,6.229000e+03,6.233000e+03,6.237000e+03,...,6.336000e+03,6.336000e+03,6.338000e+03,6.345000e+03,6.347000e+03,6.355000e+03,6.366000e+03,6.370000e+03,6.381000e+03,6.396000e+03
2,NaN,Count of practices included,6.145000e+03,6.144000e+03,6.148000e+03,6.153000e+03,6.155000e+03,6.156000e+03,6.165000e+03,6.169000e+03,...,6.247000e+03,6.263000e+03,6.267000e+03,6.272000e+03,6.270000e+03,6.278000e+03,6.287000e+03,6.298000e+03,6.301000e+03,6.316000e+03
3,NaN,Practice coverage,9.895330e-01,9.887351e-01,9.885834e-01,9.890693e-01,9.892318e-01,9.882806e-01,9.890903e-01,9.890973e-01,...,9.859533e-01,9.884785e-01,9.887977e-01,9.884949e-01,9.878683e-01,9.878836e-01,9.875903e-01,9.886970e-01,9.874628e-01,9.874922e-01
4,NaN,Registered patients at open active practices,6.393991e+07,6.395018e+07,6.392264e+07,6.383439e+07,6.382489e+07,6.380652e+07,6.379382e+07,6.376914e+07,...,6.322396e+07,6.320695e+07,6.317202e+07,6.309876e+07,6.304581e+07,6.294522e+07,6.279787e+07,6.269078e+07,6.263785e+07,6.255382e+07

In [64]:
# Load the Excel file
file_path = "../data/raw/GP_Appointment_July_2023.xlsx"

df = pd.read_excel(file_path, sheet_name='Table 1a')
df.head(9)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Return to Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Table 1a: Summary of appointments by month, En...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
import re

# Created this function which encapsulates the logic to read, clean, and reshape the NHS GP appointments data
def clean_gp_table_to_long(
    file_path: str,
    sheet_name: str,
    n_preview_rows: int = 80,
    min_month_hits: int = 4,   # how many month-like cells to treat a row as the header
) -> pd.DataFrame:
    """
    Reads an NHS GP appointments Excel sheet (e.g., 'Table 1a'), auto-detects the header row
    by finding the row with multiple month/date-like headers, cleans it, and returns a
    long-format dataframe.
    """

    # 1) Preview to detect header row
    preview = pd.read_excel(file_path, sheet_name=sheet_name, header=None, nrows=n_preview_rows)

    month_pat = re.compile(r"^[A-Za-z]{3}-\d{2}$")          # Jul-23
    month_in_text_pat = re.compile(r"([A-Za-z]{3}-\d{2})")  # Jul-23, 7, 8

    def excel_serial_to_date(n):
        return datetime(1899, 12, 30) + timedelta(days=int(n))

    def is_month_like(x) -> bool:
        # True if x looks like a month header in any common NHS format
        if pd.isna(x):
            return False

        # datetime / timestamp
        if isinstance(x, (datetime, pd.Timestamp)):
            return True

        # Excel serial date (usually large, but allow > 0 defensively)
        if isinstance(x, (int, float)):
            # Filter out tiny numbers that are likely footnotes unless they convert cleanly
            if x <= 0:
                return False
            try:
                _ = excel_serial_to_date(x)
                return True
            except Exception:
                return False

        # strings: allow Jul-23 or Jul-23, 7, 8 etc
        s = str(x).strip()
        if month_pat.match(s):
            return True
        if month_in_text_pat.search(s):
            return True

        return False

    # Score each row by how many "month-like" cells it contains
    best_row = None
    best_score = 0

    for i in range(len(preview)):
        score = sum(is_month_like(v) for v in preview.iloc[i].tolist())
        if score > best_score:
            best_score = score
            best_row = i

    if best_row is None or best_score < min_month_hits:
        raise ValueError(
            f"Could not confidently detect a header row in '{sheet_name}'. "
            f"Best score={best_score}. Try increasing n_preview_rows or lowering min_month_hits."
        )

    header_row = best_row

    # 2) Read the sheet using detected header row
    df = pd.read_excel(file_path, sheet_name=sheet_name, header=header_row)

    # 3) Standardise column headers into clean 'MMM-YY' where applicable
    def standardise_month_header(col):
        # datetime header
        if isinstance(col, (datetime, pd.Timestamp)):
            return pd.to_datetime(col).strftime("%b-%y")

        # Excel serial header
        if isinstance(col, (int, float)) and col > 0:
            try:
                return excel_serial_to_date(col).strftime("%b-%y")
            except Exception:
                return str(col)

        # string header with potential footnotes
        s = str(col).strip()
        m = month_in_text_pat.search(s)
        if m:
            return m.group(1)

        return s

    df.columns = [standardise_month_header(c) for c in df.columns]

    # 4) Identify label columns
    section_col = df.columns[0]
    metric_col = df.columns[1]

    # Drop empty rows and clean label columns
    df = df.dropna(how="all")
    df[section_col] = df[section_col].ffill()
    df = df[df[metric_col].notna()]

    # 5) Melt wide → long
    month_cols = df.columns[2:]
    long_df = df.melt(
        id_vars=[section_col, metric_col],
        value_vars=month_cols,
        var_name="month",
        value_name="value"
    ).rename(columns={section_col: "section", metric_col: "metric"})

    # 6) Keep only valid month labels (removes Unnamed columns)
    long_df["month"] = long_df["month"].astype(str).str.extract(r"([A-Za-z]{3}-\d{2})", expand=False)
    long_df = long_df.dropna(subset=["month"])

    # 7) Create month_date + numeric value
    long_df["month_date"] = pd.to_datetime(long_df["month"], format="%b-%y", errors="coerce")
    long_df["value"] = pd.to_numeric(long_df["value"], errors="coerce")

    return long_df

In [86]:
dec_2025 = clean_gp_table_to_long(
    file_path="../data/raw/GP_Appointment_December_2025.xlsx",
    sheet_name="Table 1a"
)

In [88]:
dec_2025.head()

,section,metric,month,value,month_date
0,Coverage,Open active practices,Dec-25,6.210000e+03,2025-12-01
1,Coverage,Count of practices included,Dec-25,6.145000e+03,2025-12-01
2,Coverage,Practice coverage,Dec-25,9.895330e-01,2025-12-01
3,Coverage,Registered patients at open active practices,Dec-25,6.393991e+07,2025-12-01
4,Coverage,Registered patients at included practices,Dec-25,6.386169e+07,2025-12-01

In [87]:
jul_2023 = clean_gp_table_to_long(
    file_path="../data/raw/GP_Appointment_July_2023.xlsx",
    sheet_name="Table 1a"
)

In [89]:
jul_2023.head()

,section,metric,month,value,month_date
0,Coverage,Open active practices,Jul-23,6.396000e+03,2023-07-01
1,Coverage,Count of practices included,Jul-23,6.315000e+03,2023-07-01
2,Coverage,Practice coverage,Jul-23,9.873358e-01,2023-07-01
3,Coverage,Registered patients at open active practices,Jul-23,6.255382e+07,2023-07-01
4,Coverage,Registered patients at included practices,Jul-23,6.239895e+07,2023-07-01

In [99]:
#Check columns match (quick safety check)
dec_2025.columns
jul_2023.columns

Index(['section', 'metric', 'month', 'value', 'month_date'], dtype='object')

In [95]:
combined_dataset = (
    pd.concat([jul_2023, dec_2025], ignore_index=True)
      .sort_values("month_date")
      .reset_index(drop=True)
)

In [96]:
combined_dataset.head(20)

,section,metric,month,value,month_date
0,Time between Booking Date and Appointment Date,8 to 14 Days,Feb-21,9.979496e-02,2021-02-01
1,Time between Booking Date and Appointment Date,15 to 21 Days,Feb-21,8.164660e+05,2021-02-01
2,Time between Booking Date and Appointment Date,22 to 28 Days,Feb-21,4.716730e+05,2021-02-01
3,Time between Booking Date and Appointment Date,More than 28 Days,Feb-21,3.612340e+05,2021-02-01
4,Time between Booking Date and Appointment Date,Unknown / Data Quality,Feb-21,1.142200e+04,2021-02-01
5,Service Setting,General Practice,Feb-21,NaN,2021-02-01
6,Service Setting,Primary Care Network,Feb-21,NaN,2021-02-01
7,Service Setting,Extended Access Provision,Feb-21,NaN,2021-02-01
8,Service Setting,Other,Feb-21,NaN,2021-02-01
9,Service Setting,Unmapped Service Setting,Feb-21,NaN,2021-02-01
10,Context Type,Care Related Encounter,Feb-21,NaN,2021-02-01
11,National Category,General Consultation Acute,Feb-21,NaN,2021-02-01
12,National Category,General Consultation Routine,Feb-21,NaN,2021-02-01
13,Time between Booking Date and Appointment Date,8 to 14 Days,Feb-21,2.235364e+06,2021-02-01
14,National Category,Planned Clinics,Feb-21,NaN,2021-02-01
15,National Category,Unplanned Clinical Activity,Feb-21,NaN,2021-02-01
16,National Category,Walk-in,Feb-21,NaN,2021-02-01
17,National Category,Clinical Triage,Feb-21,NaN,2021-02-01
18,National Category,Home Visit,Feb-21,NaN,2021-02-01
19,National Category,Care Home Visit,Feb-21,NaN,2021-02-01

In [97]:
combined_dataset.tail(20)

,section,metric,month,value,month_date
7330,SDS Role Group9,Data Quality,Dec-25,0.073658,2025-12-01
7331,SDS Role Group9,Unknown SDS Role Group,Dec-25,0.041682,2025-12-01
7332,Appointment Mode4,Face-to-Face,Dec-25,0.615464,2025-12-01
7333,Appointment Mode4,Home Visit,Dec-25,0.012137,2025-12-01
7334,Appointment Mode4,Telephone,Dec-25,0.246835,2025-12-01
7335,Appointment Mode4,Video/Online,Dec-25,0.100617,2025-12-01
7336,Appointment Mode4,Unknown Mode5,Dec-25,0.024947,2025-12-01
7337,Time between Booking Date and Appointment Date,Same Day,Dec-25,0.459680,2025-12-01
7338,Time between Booking Date and Appointment Date,1 Day,Dec-25,0.075923,2025-12-01
7339,Time between Booking Date and Appointment Date,2 to 7 Days,Dec-25,0.167928,2025-12-01
7340,Time between Booking Date and Appointment Date,8 to 14 Days,Dec-25,0.124043,2025-12-01
7341,Time between Booking Date and Appointment Date,15 to 21 Days,Dec-25,0.073204,2025-12-01
7342,Time between Booking Date and Appointment Date,22 to 28 Days,Dec-25,0.049054,2025-12-01
7343,Time between Booking Date and Appointment Date,More than 28 Days,Dec-25,0.049313,2025-12-01
7344,Time between Booking Date and Appointment Date,Unknown / Data Quality,Dec-25,0.000856,2025-12-01
7345,Service Setting,General Practice,Dec-25,0.903547,2025-12-01
7346,Service Setting,Primary Care Network,Dec-25,0.054756,2025-12-01
7347,Service Setting,Extended Access Provision,Dec-25,0.011626,2025-12-01
7348,Context Type,Care Related Encounter,Dec-25,0.870275,2025-12-01
7349,8,The methodology for identifying valid covid va...,Dec-25,NaN,2025-12-01

In [ ]:
#quick quality checks
# 1) Check there are no unparsed months
table_1a_long[table_1a_long["month_date"].isna()]["month"].unique()

#If this returns an empty array, it's perfect.

array([], dtype=object)

In [101]:
#Sorting chronologically
combined_dataset = combined_dataset.sort_values(
    "month_date"
).reset_index(drop=True)

In [102]:
#Validate result
combined_dataset["month"].unique()

array(['Feb-21', 'Mar-21', 'Apr-21', 'May-21', 'Jun-21', 'Jul-21',
       'Aug-21', 'Sep-21', 'Oct-21', 'Nov-21', 'Dec-21', 'Jan-22',
       'Feb-22', 'Mar-22', 'Apr-22', 'May-22', 'Jun-22', 'Jul-22',
       'Aug-22', 'Sep-22', 'Oct-22', 'Nov-22', 'Dec-22', 'Jan-23',
       'Feb-23', 'Mar-23', 'Apr-23', 'May-23', 'Jun-23', 'Jul-23',
       'Aug-23', 'Sep-23', 'Oct-23', 'Nov-23', 'Dec-23', 'Jan-24',
       'Feb-24', 'Mar-24', 'Apr-24', 'May-24', 'Jun-24', 'Jul-24',
       'Aug-24', 'Sep-24', 'Oct-24', 'Nov-24', 'Dec-24', 'Jan-25',
       'Feb-25', 'Mar-25', 'Apr-25', 'May-25', 'Jun-25', 'Jul-25',
       'Aug-25', 'Sep-25', 'Oct-25', 'Nov-25', 'Dec-25'], dtype=object)

In [105]:
combined_dataset.shape

(7350, 5)

In [ ]:
# makes future analysis stable and reproducible.
combined_dataset = combined_dataset.sort_values(
    ["metric", "month_date"]
).reset_index(drop=True)

In [ ]:
# Export the cleaned and combined dataset for future analysis. This ensures that we have a stable, reproducible dataset to work with, and we won't need to repeat the cleaning steps every time.

combined_dataset.to_csv(
    "../data/processed/combined_gp_appointments.csv",
    index=False
)

Data Cleaning and validation

In [114]:
combined_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7350 entries, 0 to 7349
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   section     7350 non-null   object
 1   metric      7350 non-null   object
 2   month       7350 non-null   object
 3   value       6210 non-null   float64
 4   month_date  7350 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 287.2+ KB

In [117]:
combined_dataset.isnull().sum()

section          0
metric           0
month            0
value         1140
month_date       0
dtype: int64

In [ ]:

combined_dataset[combined_dataset["value"].isna()].head(10)

,section,metric,month,value,month_date
600,5,"Appointments marked as online, video or video ...",Feb-21,NaN,2021-02-01
601,5,"Appointments marked as online, video or video ...",Mar-21,NaN,2021-03-01
602,5,"Appointments marked as online, video or video ...",Apr-21,NaN,2021-04-01
603,5,"Appointments marked as online, video or video ...",May-21,NaN,2021-05-01
604,5,"Appointments marked as online, video or video ...",Jun-21,NaN,2021-06-01
605,5,"Appointments marked as online, video or video ...",Jul-21,NaN,2021-07-01
606,5,"Appointments marked as online, video or video ...",Aug-21,NaN,2021-08-01
607,5,"Appointments marked as online, video or video ...",Sep-21,NaN,2021-09-01
608,5,"Appointments marked as online, video or video ...",Oct-21,NaN,2021-10-01
609,5,"Appointments marked as online, video or video ...",Nov-21,NaN,2021-11-01

In [ ]:
# Check which metrics have missing values to understand if there are any patterns in the missing data
combined_dataset.loc[
    combined_dataset["value"].isna(),
    "metric"
].value_counts()

metric
Appointments marked as online, video or video conference are shown as “Online / Video”. This may or may not include a video element. Non-video based online consultations such as live chat or VOIP and video based appointments are all included in this category. It is likely that many video consultations start as a telephone appointment then switch to video and therefore may be undercounted. From March 2020,  face to face appointment mode data may not be entirely reflective of what happens in the practices, as appointment types have been assigned to appointment modes prior to the pandemic. Thus, even if the appointment was carried out through a different mode, the appointment registers as a face to face appointment on the system.    60
Both HCP Type and SDS role are currently presented for comparison purposes, but moving forward the intention is to only publish SDS Role Groups and will remove HCP Type.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           60
Data has been suppressed where data quality has been assessed to be low. In this case data will be displayed as ".z"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                60
Covid-19 vaccination activity captured in the GP Appointments data received from GP System Suppliers has now been removed from this data from December 2020 onwards in order to allow for a clearer picture of activity in General Practice.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        60
Data is taken from the NIMS (National Immunisation Management Service) vaccination dataset, and only includes covid-19 vaccination activity carried out by a PCN or GP Practice. Practice PCN’s have been identified as those with a site code identifying them as a branch surgery. Data can be added to the NIMS system at anytime, therefore the cut off for data included in this publication is the same date as the GP Appointments data is received from the system suppliers. This means that historic figures may change with each monthly release.                                                                                                                                                                                                        60
Practices using the Cegedim (formerly Vision) and Informatica GP systems are unable to supply appointment mode data. Consequently the proportion of appointments with an 'Unknown' appointment mode is higher in releases from June 2019 onwards when Vision practices were included in the publication and again from June 2020 when Informatica was added.                                                                                                                                                                                                                                                                                                                                                                                                        60
_                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   60
This table contains activity recorded in GP practice appointment systems. Where PCN activity is recorded in the GP practice appointment system it will be included.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 60
For this reason, these appointments are reported as "Unknown" status                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                30
This data reflects what was recorded in appointment systems at the point of extraction. Changes which practices have made to their appointments data for previous weeks can be extracted. This would then be incorporated within the next publication. For this reason, there may be some small differences in the number of appointments when comparing data for the same month against previous releases. From November 2020 release each month’s publication includes 30 months data.                                                                                                                                                                                                                                                                            30
See 'Coronavirus Impact' tab for further information.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               30
Practices can submit any changes they have made to their appointments data for previous weeks which will then be incorporated within the next publication. For this reason, there may be some small differences in the number of appointments when comparing data for the same month against previous releases. From November 2020 release each month’s publication includes 30 months data.                                                                                                                                                                                                                                                                                                                                                                        30
Not all practices in England are included in this release meaning the total number of appointments in England is not known. An estimate has been calculated using known appointments and scaling up to factor in registered patients that are not included in the collection. The estimate is rounded to the nearest 10,000 appointments.                                                                                                                                                                                                                                                                                                                                                                                                                           30
Estimated England total count of appointment including covid vaccinations is the sum of estimated England total count of appointments and Covid Vaccination delivered by practice/PCN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               30
At the time of the appointment a ‘Booked’ status will usually be changed to either ‘Attended’ or ‘DNA’. In some cases (4-7% of monthly appointments), the final status of an appointment remains as ‘Booked’. It is not known from the data whether these appointments were actually attended or not. From a sample audit these were found to be consultations where the status has not been updated to say if patients had attended or not.                                                                                                                                                                                                                                                                                                                        30
At the time of the appointment a ‘Booked’ status will usually be changed to either ‘Attended’ or ‘DNA’. In some cases (4-7% of monthly appointments), the final status of an appointment remains as ‘Booked’. It is not known from the data whether these appointments were actually attended or not. From a sample audit these were found to be consultations where the status has not been updated to say if patients had attended or not. \nFor this reason, these appointments are reported as "Unknown" status                                                                                                                                                                                                                                                 30
The methodology for identifying valid covid vaccinations is reviewed each time a new booster dose is introduced. This means covid vaccination figures are subject to revision and can change between publications.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  30
The methodology for identifying valid covid vaccinations is reviewed each time a new booster dose is introduced. This means covid vaccination figures are subject to revision and can change between publications. The latest update to methodology was included in the May 2023 publication.                                                                                                                                                                                                                                                                                                                                                                                                                                                                       30
Clinical Triage                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     12
Data Quality                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        12
Care Home Needs Assessment & Personalised Care and Support Planning                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 12
Care Home Visit                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     12
Care Related Encounter                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              12
Care Related Encounter but does not fit into any other category                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     12
Extended Access Provision                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           12
GP                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  12

In [121]:
combined_dataset_clean = combined_dataset.dropna(subset=["value"])

In [124]:
combined_dataset_clean.isnull().sum()

section       0
metric        0
month         0
value         0
month_date    0
dtype: int64

In [126]:
combined_dataset_clean.describe()

              value                     month_date
count  6.210000e+03                           6210
mean   4.034263e+06  2023-08-15 16:24:20.869565184
min    1.824192e-04            2021-02-01 00:00:00
25%    6.641851e-02            2022-07-01 00:00:00
50%    6.608500e+03            2023-08-01 00:00:00
75%    1.701688e+06            2024-10-01 00:00:00
max    6.395018e+07            2025-12-01 00:00:00
std    1.061488e+07                            NaN