In [1]:
import os
os.getcwd()

'c:\\Users\\mercy\\nhs-gp-performance-analysis\\notebook'

In [2]:
import os

os.listdir("../data/raw")

['GP_Appointment_December_2025.xlsx', 'GP_Appointment_July_2023.xlsx']

In [11]:
import pandas as pd

file_path = "../data/raw/GP_Appointment_December_2025.xlsx"

df = pd.read_excel(file_path, sheet_name='Table 1a')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
xls = pd.ExcelFile(file_path)
xls.sheet_names

['Title sheet',
 'Official Statistics in Developm',
 'PCN Information',
 'Data Quality',
 'Table 1a',
 'Table 1b',
 'Table 1c',
 'Table 2a',
 'Table 2b',
 'Table 2c',
 'Table 2d',
 'Table 3a',
 'Table 3b',
 'Table 3c',
 'Table 3d',
 'Table 3e',
 'Table 3f',
 'Table 3g',
 'Table 3h',
 'Table 4',
 'Table 5',
 'Table 6']

In [13]:
os.listdir("../data/raw")

['GP_Appointment_December_2025.xlsx', 'GP_Appointment_July_2023.xlsx']

In [14]:
from pathlib import Path

BASE_DIR = Path().resolve().parent
file_path = BASE_DIR / "data" / "raw" / "GP_Appointment_December_2025.xlsx"

df = pd.read_excel(file_path)

In [15]:
import os
os.getcwd()
os.listdir("..")
os.listdir("../data")
os.listdir("../data/raw")

['GP_Appointment_December_2025.xlsx', 'GP_Appointment_July_2023.xlsx']

In [17]:
for s in xls.sheet_names:
    print(f"[{s}]")

[Title sheet]
[Official Statistics in Developm]
[PCN Information]
[Data Quality]
[Table 1a]
[Table 1b]
[Table 1c]
[Table 2a]
[Table 2b]
[Table 2c]
[Table 2d]
[Table 3a]
[Table 3b]
[Table 3c]
[Table 3d]
[Table 3e]
[Table 3f]
[Table 3g]
[Table 3h]
[Table 4]
[Table 5]
[Table 6]

In [18]:
import pandas as pd

file_path = "../data/raw/GP_Appointment_December_2025.xlsx"

df = pd.read_excel(file_path, sheet_name="Table 1a")

df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
file_path = "../data/raw/GP_Appointment_December_2025.xlsx"
sheet = "Table 1a"

# read a small preview without headers
preview = pd.read_excel(file_path, sheet_name=sheet, header=None, nrows=30)
preview.head(15)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Return to Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Table 1a: Summary of appointments recorded in ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,2025-12-01 00:00:00,2025-11-01 00:00:00,2025-10-01 00:00:00,2025-09-01 00:00:00,2025-08-01 00:00:00,2025-07-01 00:00:00,2025-06-01 00:00:00,2025-05-01 00:00:00,...,2024-04-01 00:00:00,2024-03-01 00:00:00,2024-02-01 00:00:00,2024-01-01 00:00:00,2023-12-01 00:00:00,2023-11-01 00:00:00,2023-10-01 00:00:00,2023-09-01 00:00:00,2023-08-01 00:00:00,2023-07-01 00:00:00
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Coverage,Open active practices,6210,6214,6219,6221,6222,6229,6233,6237,...,6336,6336,6338,6345,6347,6355,6366,6370,6381,6396
13,NaN,Count of practices included,6145,6144,6148,6153,6155,6156,6165,6169,...,6247,6263,6267,6272,6270,6278,6287,6298,6301,6316
14,NaN,Practice coverage,0.989533,0.988735,0.988583,0.989069,0.989232,0.988281,0.98909,0.989097,...,0.985953,0.988479,0.988798,0.988495,0.987868,0.987884,0.98759,0.988697,0.987463,0.987492

In [20]:
# Find the row index that contains a month label like "Dec-25"
header_row = None
for i in range(len(preview)):
    row_as_text = preview.iloc[i].astype(str).tolist()
    if any("Dec-25" in x for x in row_as_text):  # you can change to "Nov-25" etc.
        header_row = i
        break

header_row

In [23]:
df = pd.read_excel(
    file_path,
    sheet_name=sheet,
    header=header_row
)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
import pandas as pd

file_path = "../data/raw/GP_Appointment_December_2025.xlsx"
sheet = "Table 1a"

df = pd.read_excel(file_path, sheet_name=sheet, header=10)
df.head()

,Unnamed: 0,Unnamed: 1,2025-12-01 00:00:00,2025-11-01 00:00:00,2025-10-01 00:00:00,2025-09-01 00:00:00,2025-08-01 00:00:00,2025-07-01 00:00:00,2025-06-01 00:00:00,2025-05-01 00:00:00,...,2024-04-01 00:00:00,2024-03-01 00:00:00,2024-02-01 00:00:00,2024-01-01 00:00:00,2023-12-01 00:00:00,2023-11-01 00:00:00,2023-10-01 00:00:00,2023-09-01 00:00:00,2023-08-01 00:00:00,2023-07-01 00:00:00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Coverage,Open active practices,6.210000e+03,6.214000e+03,6.219000e+03,6.221000e+03,6.222000e+03,6.229000e+03,6.233000e+03,6.237000e+03,...,6.336000e+03,6.336000e+03,6.338000e+03,6.345000e+03,6.347000e+03,6.355000e+03,6.366000e+03,6.370000e+03,6.381000e+03,6.396000e+03
2,NaN,Count of practices included,6.145000e+03,6.144000e+03,6.148000e+03,6.153000e+03,6.155000e+03,6.156000e+03,6.165000e+03,6.169000e+03,...,6.247000e+03,6.263000e+03,6.267000e+03,6.272000e+03,6.270000e+03,6.278000e+03,6.287000e+03,6.298000e+03,6.301000e+03,6.316000e+03
3,NaN,Practice coverage,9.895330e-01,9.887351e-01,9.885834e-01,9.890693e-01,9.892318e-01,9.882806e-01,9.890903e-01,9.890973e-01,...,9.859533e-01,9.884785e-01,9.887977e-01,9.884949e-01,9.878683e-01,9.878836e-01,9.875903e-01,9.886970e-01,9.874628e-01,9.874922e-01
4,NaN,Registered patients at open active practices,6.393991e+07,6.395018e+07,6.392264e+07,6.383439e+07,6.382489e+07,6.380652e+07,6.379382e+07,6.376914e+07,...,6.322396e+07,6.320695e+07,6.317202e+07,6.309876e+07,6.304581e+07,6.294522e+07,6.279787e+07,6.269078e+07,6.263785e+07,6.255382e+07

In [27]:
from datetime import datetime

new_cols = []
for c in df.columns:
    # If column name is a datetime/Timestamp, format it
    if isinstance(c, (datetime, pd.Timestamp)):
        new_cols.append(pd.to_datetime(c).strftime("%b-%y"))  # Dec-25
    else:
        new_cols.append(c)

df.columns = new_cols
df.head()

,Unnamed: 0,Unnamed: 1,Dec-25,Nov-25,Oct-25,Sep-25,Aug-25,Jul-25,Jun-25,May-25,...,Apr-24,Mar-24,Feb-24,Jan-24,Dec-23,Nov-23,Oct-23,Sep-23,Aug-23,Jul-23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Coverage,Open active practices,6.210000e+03,6.214000e+03,6.219000e+03,6.221000e+03,6.222000e+03,6.229000e+03,6.233000e+03,6.237000e+03,...,6.336000e+03,6.336000e+03,6.338000e+03,6.345000e+03,6.347000e+03,6.355000e+03,6.366000e+03,6.370000e+03,6.381000e+03,6.396000e+03
2,NaN,Count of practices included,6.145000e+03,6.144000e+03,6.148000e+03,6.153000e+03,6.155000e+03,6.156000e+03,6.165000e+03,6.169000e+03,...,6.247000e+03,6.263000e+03,6.267000e+03,6.272000e+03,6.270000e+03,6.278000e+03,6.287000e+03,6.298000e+03,6.301000e+03,6.316000e+03
3,NaN,Practice coverage,9.895330e-01,9.887351e-01,9.885834e-01,9.890693e-01,9.892318e-01,9.882806e-01,9.890903e-01,9.890973e-01,...,9.859533e-01,9.884785e-01,9.887977e-01,9.884949e-01,9.878683e-01,9.878836e-01,9.875903e-01,9.886970e-01,9.874628e-01,9.874922e-01
4,NaN,Registered patients at open active practices,6.393991e+07,6.395018e+07,6.392264e+07,6.383439e+07,6.382489e+07,6.380652e+07,6.379382e+07,6.376914e+07,...,6.322396e+07,6.320695e+07,6.317202e+07,6.309876e+07,6.304581e+07,6.294522e+07,6.279787e+07,6.269078e+07,6.263785e+07,6.255382e+07

In [29]:
# first two columns are label columns in this table
section_col = df.columns[0]
item_col = df.columns[1]

df = df.dropna(how="all")
df[section_col] = df[section_col].ffill()
df = df[df[item_col].notna()]  # drop separator rows

df.head(30)

,Unnamed: 0,Unnamed: 1,Dec-25,Nov-25,Oct-25,Sep-25,Aug-25,Jul-25,Jun-25,May-25,...,Apr-24,Mar-24,Feb-24,Jan-24,Dec-23,Nov-23,Oct-23,Sep-23,Aug-23,Jul-23
1,Coverage,Open active practices,6.210000e+03,6.214000e+03,6.219000e+03,6.221000e+03,6.222000e+03,6.229000e+03,6.233000e+03,6.237000e+03,...,6.336000e+03,6.336000e+03,6.338000e+03,6.345000e+03,6.347000e+03,6.355000e+03,6.366000e+03,6.370000e+03,6.381000e+03,6.396000e+03
2,Coverage,Count of practices included,6.145000e+03,6.144000e+03,6.148000e+03,6.153000e+03,6.155000e+03,6.156000e+03,6.165000e+03,6.169000e+03,...,6.247000e+03,6.263000e+03,6.267000e+03,6.272000e+03,6.270000e+03,6.278000e+03,6.287000e+03,6.298000e+03,6.301000e+03,6.316000e+03
3,Coverage,Practice coverage,9.895330e-01,9.887351e-01,9.885834e-01,9.890693e-01,9.892318e-01,9.882806e-01,9.890903e-01,9.890973e-01,...,9.859533e-01,9.884785e-01,9.887977e-01,9.884949e-01,9.878683e-01,9.878836e-01,9.875903e-01,9.886970e-01,9.874628e-01,9.874922e-01
4,Coverage,Registered patients at open active practices,6.393991e+07,6.395018e+07,6.392264e+07,6.383439e+07,6.382489e+07,6.380652e+07,6.379382e+07,6.376914e+07,...,6.322396e+07,6.320695e+07,6.317202e+07,6.309876e+07,6.304581e+07,6.294522e+07,6.279787e+07,6.269078e+07,6.263785e+07,6.255382e+07
5,Coverage,Registered patients at included practices,6.386169e+07,6.382981e+07,6.379529e+07,6.371991e+07,6.374795e+07,6.370718e+07,6.374928e+07,6.371258e+07,...,6.304772e+07,6.307117e+07,6.304273e+07,6.296910e+07,6.288462e+07,6.281195e+07,6.265525e+07,6.260832e+07,6.252767e+07,6.241496e+07
6,Coverage,Patient coverage,9.987767e-01,9.981178e-01,9.980079e-01,9.982067e-01,9.987945e-01,9.984431e-01,9.993018e-01,9.991130e-01,...,9.972125e-01,9.978519e-01,9.979533e-01,9.979450e-01,9.974432e-01,9.978826e-01,9.977288e-01,9.986846e-01,9.982410e-01,9.977803e-01
8,Working Days,Number of working weekdays,2.100000e+01,2.000000e+01,2.300000e+01,2.200000e+01,2.000000e+01,2.300000e+01,2.100000e+01,2.000000e+01,...,2.100000e+01,2.000000e+01,2.100000e+01,2.200000e+01,1.900000e+01,2.200000e+01,2.200000e+01,2.100000e+01,2.200000e+01,2.100000e+01
10,Appointment Count,Total count of appointments1,3.086510e+07,3.114377e+07,3.934566e+07,3.209934e+07,2.718734e+07,3.252342e+07,3.050239e+07,2.912742e+07,...,3.009947e+07,2.951416e+07,3.052053e+07,3.241098e+07,2.577223e+07,3.145552e+07,3.420285e+07,3.110152e+07,2.819677e+07,2.775890e+07
11,Appointment Count,_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Appointment Count,Covid Vaccination appointments removed from GP...,1.506200e+04,1.085190e+05,6.851110e+05,1.346000e+03,7.220000e+02,9.220000e+02,1.985800e+04,1.550480e+05,...,3.262320e+05,1.441000e+03,1.311000e+03,4.126000e+03,1.748300e+04,1.317530e+05,9.195830e+05,3.887570e+05,4.190000e+02,9.310000e+02
14,Appointment Count,"Covid Vaccination delivered by practice/PCN 6,8",5.880000e+03,3.279100e+04,1.612930e+05,3.130000e+02,1.200000e+01,2.400000e+01,7.257000e+03,2.829300e+04,...,2.045000e+05,5.100000e+01,1.260000e+02,9.943000e+03,4.261100e+04,3.034080e+05,2.428531e+06,1.324923e+06,2.250000e+02,1.062000e+03
15,Appointment Count,England total count of appointment including c...,3.087098e+07,3.117656e+07,3.950695e+07,3.209965e+07,2.718735e+07,3.252345e+07,3.050965e+07,2.915571e+07,...,3.030397e+07,2.951421e+07,3.052066e+07,3.242092e+07,2.581484e+07,3.175893e+07,3.663138e+07,3.242644e+07,2.819700e+07,2.775996e+07
17,"Appointment Status2,3",Attended,2.757816e+07,2.779222e+07,3.460849e+07,2.877739e+07,2.440654e+07,2.920711e+07,2.742045e+07,2.620771e+07,...,2.716524e+07,2.658689e+07,2.749244e+07,2.927360e+07,2.313665e+07,2.824347e+07,3.020375e+07,2.758517e+07,2.552715e+07,2.511918e+07
18,"Appointment Status2,3",Did Not Attend,1.350483e+06,1.358410e+06,2.005104e+06,1.348922e+06,1.133938e+06,1.370372e+06,1.253334e+06,1.205975e+06,...,1.279054e+06,1.246215e+06,1.289611e+06,1.351417e+06,1.180511e+06,1.460781e+06,1.775540e+06,1.592841e+06,1.231789e+06,1.227296e+06
19,"Appointment Status2,3",Unknown Status,1.936465e+06,1.993137e+06,2.732064e+06,1.973020e+06,1.646860e+06,1.945939e+06,1.828613e+06,1.713737e+06,...,1.655168e+06,1.681051e+06,1.738480e+06,1.785963e+06,1.455066e+06,1.751271e+06,2.223558e+06,1.923511e+06,1.437839e+06,1.412426e+06
21,SDS Role Group9,GP,1.367604e+07,1.348379e+07,1.580910e+07,1.425286e+07,1.190662e+07,1.421077e+07,1.362223e+07,1.298590e+07,...,1.353684e+07,1.344504e+07,1.376032e+07,1.475074e+07,1.186348e+07,1.413576e+07,1.442643e+07,1.365903e+07,1.282021e+07,1.273210e+07
22,SDS Role Group9,Nurses,5.823186e+06,6.114396e+06,8.704806e+06,6.120312e+06,5.223598e+06,6.299824e+06,5.805936e+06,5.558012e+06,...,6.051826e+06,5.913175e+06,6.214637e+06,6.647285e+06,5.253827e+06,6.658070e+06,7.911176e+06,6.874684e+06,5.893918e+06,5.816820e+06
23,SDS Role Group9,Other Direct Patient Care,7.805883e+06,7.966769e+06,1.017193e+07,8.190162e+06,7.002437e+06,8.442870e+06,7.740494e+06,7.396663e+06,...,7.425270e+06,7.137245e+06,7.478229e+06,7.887353e+06,6.161785e+06,7.608500e+06,8.389163e+06,7.465921e+06,6.753037e+06,6.568354e+06
24,SDS Role Group9,Data Quality,2.273473e+06,2.314617e+06,3.048041e+06,2.294078e+06,1.987285e+06,2.338733e+06,2.182761e+06,2.069606e+06,...,1.806470e+06,1.755186e+06,1.813044e+06,1.887028e+06,1.482982e+06,1.838617e+06,2.099083e+06,1.885470e+06,1.618481e+06,1.567000e+06
25,SDS Role Group9,Unknown SDS Role Group,1.286518e+06,1.264200e+06,1.611778e+06,1.241929e+06,1.067395e+06,1.231229e+06,1.150968e+06,1.117242e+06,...,1.279056e+06,1.263515e+06,1.254295e+06,1.238577e+06,1.010157e+06,1.214569e+06,1.376991e+06,1.216414e+06,1.111126e+06,1.074628e+06
27,Appointment Mode4,Face-to-Face,1.899635e+07,1.957483e+07,2.649622e+07,2.015054e+07,1.705042e+07,2.048185e+07,1.924613e+07,1.843859e+07,...,1.970497e+07,1.932009e+07,2.010143e+07,2.153237e+07,1.716431e+07,2.134384e+07,2.422131e+07,2.195576e+07,1.906996e+07,1.885482e+07
28,Appointment Mode4,Home Visit,3.746070e+05,3.756810e+05,4.633200e+05,3.654580e+05,3.132950e+05,3.789320e+05,3.496060e+05,3.447720e+05,...,3.547130e+05,3.269630e+05,3.433750e+05,3.715720e+05,2.837660e+05,3.386000e+05,3.606250e+05,3.023910e+05,2.934110e+05,2.753510e+05
29,Appointment Mode4,Telephone,7.618581e+06,7.421971e+06,8.226376e+06,8.001511e+06,6.832386e+06,8.199427e+06,7.718561e+06,7.343974e+06,...,7.902072e+06,7.831971e+06,8.055009e+06,8.529041e+06,6.829834e+06,8.037053e+06,7.892600e+06,7.417819e+06,7.530189e+06,7.439271e+06
30,Appointment Mode4,Video/Online,3.105568e+06,2.981675e+06,3.210695e+06,2.818499e+06,2.331581e+06,2.689257e+06,2.466727e+06,2.297457e+06,...,1.381112e+06,1.269041e+06,1.240195e+06,1.145110e+06,8.145400e+05,9.088440e+05,8.139100e+05,6.659110e+05,6.180450e+05,5.403420e+05
31,Appointment Mode4,Unknown Mode5,7.699960e+05,7.896180e+05,9.490460e+05,7.633250e+05,6.596490e+05,7.739530e+05,7.213660e+05,7.026240e+05,...,7.566000e+05,7.660960e+05,7.805170e+05,8.328840e+05,6.797790e+05,8.271760e+05,9.144000e+05,7.596340e+05,6.851700e+05,6.491170e+05
33,Time between Booking Date and Appointment Date,Same Day,1.418806e+07,1.343643e+07,1.524333e+07,1.414761e+07,1.206823e+07,1.420362e+07,1.347392e+07,1.287863e+07,...,1.335520e+07,1.289810e+07,1.329472e+07,1.447862e+07,1.178940e+07,1.340453e+07,1.343744e+07,1.233360e+07,1.233454e+07,1.210014e+07
34,Time between Booking Date and Appointment Date,1 Day,2.343381e+06,2.329217e+06,2.786252e+06,2.359052e+06,2.026481e+06,2.518357e+06,2.149675e+06,2.182923e+06,...,2.247181e+06,2.283701e+06,2.382090e+06,2.621856e+06,2.032700e+06,2.500181e+06,2.453193e+06,2.336000e+06,2.281448e+06,2.083395e+06
35,Time between Booking Date and Appointment Date,2 to 7 Days,5.183114e+06,5.474735e+06,6.575193e+06,5.763340e+06,4.599582e+06,5.767001e+06,5.466020e+06,4.946662e+06,...,5.161490e+06,5.402792e+06,5.641441e+06,6.244551e+06,4.455010e+06,5.899378e+06,6.293537e+06,5.691524e+06,5.070978e+06,5.361988e+06
36,Time between Booking Date and Appointment Date,8 to 14 Days,3.828596e+06,4.042764e+06,4.934622e+06,3.968074e+06,3.447248e+06,4.188967e+06,3.897540e+06,3.806475e+06,...,3.813858e+06,3.902593e+06,4.178976e+06,3.815974e+06,3.290459e+06,4.207974e+06,4.615276e+06,4.033114e+06,3.639577e+06,3.643534e+06
37,Time between Booking Date and Appointment Date,15 to 21 Days,2.259445e+06,2.438825e+06,3.178598e+06,2.378067e+06,2.059729e+06,2.444250e+06,2.356446e+06,2.148415e+06,...,2.273220e+06,2.188136e+06,2.325944e+06,2.143792e+06,1.838537e+06,2.379933e+06,2.803781e+06,2.519184e+06,2.080916e+06,2.027547e+06

In [30]:
month_cols = df.columns[2:]  # all the month columns

long_df = df.melt(
    id_vars=[section_col, item_col],
    value_vars=month_cols,
    var_name="Month",
    value_name="Value"
)

long_df.head(10)

,Unnamed: 0,Unnamed: 1,Month,Value
0,Coverage,Open active practices,Dec-25,6.210000e+03
1,Coverage,Count of practices included,Dec-25,6.145000e+03
2,Coverage,Practice coverage,Dec-25,9.895330e-01
3,Coverage,Registered patients at open active practices,Dec-25,6.393991e+07
4,Coverage,Registered patients at included practices,Dec-25,6.386169e+07
5,Coverage,Patient coverage,Dec-25,9.987767e-01
6,Working Days,Number of working weekdays,Dec-25,2.100000e+01
7,Appointment Count,Total count of appointments1,Dec-25,3.086510e+07
8,Appointment Count,_,Dec-25,NaN
9,Appointment Count,Covid Vaccination appointments removed from GP...,Dec-25,1.506200e+04

In [32]:
 

def to_number(x):
    if pd.isna(x):
        return np.nan
    x = str(x).strip().replace(",", "").replace("%", "")
    return pd.to_numeric(x, errors="coerce")

long_df["Value_num"] = long_df["Value"].apply(to_number)